/* 
	LUDOK Interaktive Grafik

	Dr. Carl GmbH 2020
*/

@font-face {
    font-family: metanormal;
    src: url('fonts/meta-normal-webfont.woff2') format('woff2'),
    url('fonts/meta-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
}

body {
    background: white;
    color: #474747;
    font-family: metanormal, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: #468AB2;
    text-decoration: none;
}

a:hover {
    color: #DDBA4A;
    text-decoration: none;
}

button {
    outline: 0;
    cursor: pointer;
}

.btn {
    background-color: #97BE0D;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: table-cell;
    flex-grow: 1;
    font-size: 20px;
    height: 38px;
    margin: 2px;
    padding-top: 7px;
    text-align: center;
    width: 142px;
}

.btn:hover {
    box-shadow: 0 0 5px 3px rgba(255 255 255 / 100%);
}

.btn:active {
    border-width: 2px;
}

.btn-chosen {
    box-shadow: 0 0 5px 3px rgba(255 255 255 / 100%);
    border-width: 2px;
}

.btn-round {
    background-color: white;
    border-radius: 45px;
    border: none;
    box-shadow: 2px 2px 5px 0 #c3c3c3;
    color: #474747;
    font-family: metanormal, Arial, sans-serif;
    font-size: 15px;
    height: 90px;
    width: 90px;
    padding: 0;
}

.btn-round-zeit {
    background-color: white;
    border-radius: 50%;
    color: #90B9D1;
    font-size: 22px;
}

.btn-round-zeit-inv {
    background-color: #90B9D1;
    color: white;
}

.btn-round-small {
    background-color: white;
    border-radius: 33px;
    border: none;
    box-shadow: 2px 2px 5px 0 #c3c3c3;
    color: #474747;
    font-family: metanormal, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    height: 70px;
    width: 70px;
    padding: 0;
    vertical-align: bottom;
}

.center {
    text-align: center;
}

.cursor-hand {
    cursor: pointer;
}

.div-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.div-hintergrund-info {
    background-color: white;
    display: none;
    padding: 10px;
    text-align: left;
}

.div-i-container {
    position: relative;
    display: inline-block;
}

.div-intro {
    color: #468AB2;
    font-size: 20px;
}

.div-legend {
    display: none;
    padding-left: 60px;
    text-align: left;
}

.div-main {
    background-color: #EDEDED;
    margin-top: 30px;
    text-align: right;
    width: 100%;
    height: 1130px;
}

.div-menu {
    display: inline-block;
    position: absolute;
    left: 57px;
    width: 660px;
}

.div-menu-left {
    display: inline-block;
    position: absolute;
    top: 133px;
    font-size: 20px;
}

.div-menu-line {
    position: absolute;
    left: 30px;
    width: 375px;
}

.div-menu-noxe {
    display: inline-block;
    text-align: center;
    width: 70px;
    position: relative;
    vertical-align: top;
    margin-right: 5px;
}

.div-menu-sterblichkeit {
    position: absolute;
    top: 52px;
    right: 177px;
}


.div-pagecontent {
    box-sizing: border-box;
    padding-top: 40px;
    background-color: #EDEDED;
    position: relative;
    width: 1160px;
    margin: auto;
}

.div-pagecontent-mobile {
    background-color: #EDEDED;
    display: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.div-results {
    position: absolute;
    left: 57px;
    top: 150px;
    width: 660px;
    max-height: 1070px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.div-results-right {
    left: unset;
    right: 15px;
}

.div-results-header {
    font-size: 20px;
}

.hidden {
    display: none;
}

.i-header {
    color: #BF3227;
    margin-bottom: 10px;
}

.ic-info {
    cursor: pointer;
    vertical-align: bottom;
    width: 25px;
}

.ic-info-top {
    position: absolute;
    top: -11px;
    left: 32px;
}

.ic-info-top-small {
    position: absolute;
    top: -17px;
    left: 24px;
}

.img-logo-tc {
    width: 130px;
    position: absolute;
    top: 55px;
    right: 20px;
}

.img-organ {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.inline-block {
    display: inline-block;
}

.left {
    text-align: left !important;
}

li {
    padding-bottom: 5px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-10 {
    margin: 10px;
}

.pad-10 {
    padding: 10px;
}

.pad-100 {
    padding-left: 100px;
}

.small {
    font-size: small;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 55px;
    table-layout: fixed;
    width: 609px;
}

td {
    background-color: transparent;
    padding: 5px;
}

.td-effekt {
    text-align: left;
}

.td-effekt-typ {
    text-align: center;
    width: 65px;
}

tr {
    border-bottom: 1px solid #d9d9d9;
}

tr:last-of-type {
    _border: none;
}

.ui-tooltip {
    padding: 10px 20px;
    color: #222;
    border-radius: 2px;
    font-size: 16px !important;
    border: none;
    box-shadow: none;
}

.ui-tooltip-content {
    font-size: 16px !important;
}

/****************************** COLORS ***************************************************************************************************************************************/

.bg-feinstaub {
    color: #868686;
    background-color: white;
    border-color: #868686;
}

.bg-ozon {
    color: #468AB2;
    background-color: white;
    border-color: #468AB2;
}

.bg-stickstoffdioxid {
    color: #BF3227;
    background-color: white;
    border-color: #BF3227;
}

.bg-schwefeldioxid {
    color: #DDBA4A;
    background-color: white;
    border-color: #EDCD64;
}

.bg-kohlenmonoxid {
    color: #A4B645;
    background-color: white;
    border-color: #B5C752;
}

.bg-zusatz {
    color: #D9847E;
    background-color: white;
    border-color: #9e9e9e;
}

.bg-feinstaub-invert {
    background-color: #868686;
    color: white;
}

.bg-ozon-invert {
    background-color: #468AB2;
    color: white;
}

.bg-stickstoffdioxid-invert {
    background-color: #BF3227;
    color: white;
}

.bg-schwefeldioxid-invert {
    background-color: #EDCD64;
    color: white;
}

.bg-kohlenmonoxid-invert {
    background-color: #B5C752;
    color: white;
}

.bg-zusatz-invert {
    color: white;
    background-color: #D9847E;
}

/** RESPONSIVE ADAPTATIONS FOR TABLETS & SMARTPHONES (<= 1160/1024 px) **/

/* Tablets */
@media (max-width: 1159px) {
    .div-pagecontent {
        width: 1024px;
    }

    .div-intro {
        max-width: 600px;
    }

    #div-mensch {
        z-index: 1;
    }

    .div-menu-sterblichkeit {
        right: 25px;
    }

    .img-logo-tc {
        width: 100px;
        top: 5px;
        right: unset;
        left: 5px;
    }
}

/* Smartphones */
@media (max-width: 1023px) {
    .blocker {
        overflow: hidden;
    }

    .div-pagecontent {
        display: none;
    }

    .div-pagecontent-mobile {
        display: block;
    }

    .btn-round {
        border-radius: 0;
        width: 100%;
        height: 45px;
    }

    .btn-round-zeit {
        border-radius: 0;
        width: 100%;
    }

    .btn-round-small {
        border-radius: 0;
        height: 45px;
        width: 100%;
    }

    .div-flex-row {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .div-i-container {
        display: block;
    }

    .div-intro {
        padding: 20px;
        padding-top: 0;
        max-width: 100%;
    }

    .div-legend {
        padding-left: 5px;
        padding-bottom: 20px;
    }

    .div-menu {
        display: block;
        position: relative;
        left: 0;
        width: 100%;
    }

    .div-menu-line {
        left: 0;
        top: 0;
        position: relative;
        width: 100%;
    }

    .div-menu-noxe {
        display: block;
        text-align: left;
        width: 100%;
    }

    .div-main {
        margin: 0;
        height: 100%;
    }

    .div-results {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        max-height: none;
        padding-top: 20px;
    }

    .div-results-header {
        padding-left: 5px;
    }

    .ic-info-top {
        top: 10px;
        left: 24px;
    }

    .ic-info-top-small {
        top: 10px;
    }

    table {
        margin-left: 34px;
        width: 90%;
    }

    td {
        padding: 4px;
    }

    .td-effekt-typ {
        white-space: nowrap;
    }
}

